<form class="{{cssClass}}" autocomplete="off">
  <label class="switch">
			<input id="disable-toggle" type="checkbox" name="system.disable" data-dtype="Boolean" value="{{system.disable}}" {{checked system.disable}}>
			<span class="slider round"></span>
		</label>
		{{#if (eq system.disable true)}}
		<i class="fa-solid fa-lock" style="max-height: 18px;"></i>
		{{else}}
		<i class="fa-solid fa-lock-open" style="max-height: 18px;"></i>
		{{/if}}
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input class="toggleable" name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

<div> 
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body ember-item">
  	<div class="tab" data-group="primary" data-tab="details">
	<div class="grid grid-6col" style="text-align: right; width: 96%; align-items: center;">
		<div class="grid-span-1"><label for="system.class" class="resource-label">Class:</label></div>
		<div class="grid-span-2">
			<select class="toggleable" name="system.class" value="{{system.class}}" placeholder="" style="text-align: left;">
				{{selectOptions classes selected=system.class localize=true blank=''}}
			</select></div>
		<div class="grid-span-1"><label for="system.tier" class="resource-label">Tier:</label></div>
		<div class="grid-span-2">
			<select class="toggleable" name="system.tier" value="{{system.tier}}" placeholder="" style="text-align: left;">
				{{selectOptions tiers selected=system.tier localize=true blank=''}}
			</select></div>
		<div class="grid-span-1"><label class="resource-label">Type:</label></div>
		<div class="grid-span-2"><input class="toggleable" type="text" name="system.type" value="{{system.type}}" data-dtype="text" style="text-align: left;" /></div>
		<div class="grid-span-1"><label class="resource-label">Target:</label></div>
		<div class="grid-span-2"><input class="toggleable" type="text" name="system.target" value="{{system.target}}" data-dtype="text" style="text-align: left;" /></div>
		<div class="grid-span-1"><label class="resource-label">Range:</label></div>
		<div class="grid-span-2"><input class="toggleable" type="text" name="system.range" value="{{system.range}}" data-dtype="text" style="text-align: left;" /></div>
		<div class="grid-span-1"><label class="resource-label">Speed:</label></div>
		<div class="grid-span-2"><input class="toggleable" type="text" name="system.speed" value="{{system.speed}}" data-dtype="text" style="text-align: left;" /></div>
		<div class="grid-span-6">
				<div class="grid grid-9col">
					<div class="grid-span-2"><label class="resource-label">Auto-Crit:</label></div>
					<div class="grid-span-1" style="text-align: left;"><input class="toggleable" type="checkbox" name="system.auto-crit" value="{{system.auto-crit}}" data-dtype="Boolean" {{checked system.auto-crit}}/></div>
					<div class="grid-span-2"><label class="resource-label">Auto-Hit:</label></div>
					<div class="grid-span-1" style="text-align: left;"><input class="toggleable" type="checkbox" name="system.auto-hit" value="{{system.auto-hit}}" data-dtype="Boolean" {{checked system.auto-hit}}/></div>
					<div class="grid-span-2"><label class="resource-label">Piercing:</label></div>
					<div class="grid-span-1" style="text-align: left;"><input class="toggleable" type="checkbox" name="system.pierce" value="{{system.pierce}}" data-dtype="Boolean" {{checked system.pierce}}/></div>
				</div>
			</div>
	</div>

    <div class="tab">
		<h2>Effect</h2>
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
	  {{#if (eq item.system.disable true)}}
	  {{{enrichedEffect}}}
	  {{else}}
      {{editor enrichedEffect target="system.effect" rollData=rollData button=true owner=owner
      editable=editable}}
	  {{/if}}
    </div>
	</div>
	{{!-- Active Effects Tab --}}
	<div class="tab effects flexcol" data-group="primary" data-tab="effects">
		{{> "systems/emberwind/templates/actor/parts/actor-effects.hbs"}}
	</div>
  </section>
  </div>
</form>
<script>
	var disable = document.getElementById("disable-toggle");
	
	if( disable.checked) {
        let input = document.getElementsByClassName('toggleable');
        for (var i = 0; i < input.length; i++) {
            input[i].disabled = true;
        };   
        } else {
		let input = document.getElementsByClassName('toggleable');
        for (var i = 0; i < input.length; i++) {
            input[i].disabled = false;
		};
		};
</script>
{{log system}}